* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px;
}

div.container {
  margin: 30px auto;
  border: 2px solid black;
  height: 600px;
  width: 450px;
  border-radius: 10px;
}

.screen {
  width: 425px;
  height: 70px;
  margin: 13px 10.5px;
  font-size: 40px;
}

table {
  height: 490px;
  width: 435px;
  margin: 0px auto;
}

.screen:focus {
  outline: none;
}

td {
  height: 45px;
  width: 50px;
  /* background-color: aqua; */
  /* border-radius: 2px; */
}

td:hover {
  transform: scale(1.02);
}

button {
  height: 100%;
  width: 100%;
  font-size: 35px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #ccc;
  cursor: pointer;
}
