@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: #ccc; */
}

h1:nth-of-type(1) {
  padding: 1vh 1vw;
  font-size: 6vh;
  background-color: #0077b6;
  color: white;
  border-radius: 50px;
}

.container {
  height: 40vh;
  width: 50vw;
  border: 2px solid #ccc;
  margin: 50px auto;
  border-radius: 30px;
  background-color: #0077b6;
}

.container input {
  width: 48vw;
  margin: 1vh 1vw;
  height: 12vh;
  font-size: 70px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.693);
  border-radius: 20px;
  border: white solid 2px;

  /* cursor: pointer; */
}

input:focus {
  outline: none;
  color: rgb(115, 115, 115);
}

button {
  margin: 1vh 1vw;
  height: 30px;
  width: 62px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  border: white solid 2px;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.2);
  transition: 0.15s;
}

footer {
  /* display: block; */
  position: fixed;
  /* left: 0; */
  width: 100%;
  bottom: 5px;
  text-align: center;
}

@media screen and (max-height: 410px) {
  .container {
    height: 215px;
  }
}
